################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/11/Aoc2016-11/bin
/11/Aoc2016-11/obj
/11/*.psess
/11/*.vspx
/11/*.vsp
